<h1>Localisations</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for localisation in @localisations %>
  <tr>
    <td><%= link_to localisation.name, :action => :show, :id => localisation %></td>
  </tr>
<% end %>
</table>
