<h2><%= @localisation.name %></h2>
<% if @localisation.malaria_top_level_localisation %>
  <% top = @localisation.malaria_top_level_localisation %>
  <p>Part of the <%= link_to top.name, :controller => :top_level_localisations, :action => :show, :id => top %> high level localisation.
  <% else %>
  <p>Not part of any higher localisations.</p>
  <% end %>
<h3>Genes Localised</h3>
<ol>
  <% @localisation.expressed_coding_regions.uniq.sort{|a,b| a.string_id <=> b.string_id}.each do |code| %>
    <li><%= link_to code.string_id, :controller => :coding_regions, :action => :show, :id => code %> - <%= code.annotation.nil? ? 'no annotation' : code.annotation.annotation %></li>
  <% end %>
</ol>
