<h1>Listing cluster_entries</h1>

<table>
  <tr>
  </tr>

<% for cluster_entry in @cluster_entries %>
  <tr>
    <td><%= link_to 'Show', cluster_entry %></td>
    <td><%= link_to 'Edit', edit_cluster_entry_path(cluster_entry) %></td>
    <td><%= link_to 'Destroy', cluster_entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cluster_entry', new_cluster_entry_path %>
