<h1>New cluster_entry</h1>

<%= error_messages_for :cluster_entry %>

<% form_for(@cluster_entry) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', cluster_entries_path %>
