<h1>Editing coding_region_alternate_string_ids</h1>

<%= error_messages_for :coding_region_alternate_string_ids %>

<% form_for(@coding_region_alternate_string_ids) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @coding_region_alternate_string_ids %> |
<%= link_to 'Back', coding_region_alternate_string_ids_path %>
