<h1>Editing coding_region</h1>

<%= error_messages_for :coding_region %>

<% form_for(@coding_region) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @coding_region %> |
<%= link_to 'Back', coding_regions_path %>
