<h1>Listing coding_regions</h1>

<table>
  <tr>
  </tr>

<% for coding_region in @coding_regions %>
  <tr>
    <td><%= link_to 'Show', coding_region %></td>
    <td><%= link_to 'Edit', edit_coding_region_path(coding_region) %></td>
    <td><%= link_to 'Destroy', coding_region, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New coding_region', new_coding_region_path %>
