<h1>Listing coding_regions</h1>

<table>
  <tr>
  </tr>

<% for coding_region in @coding_regions %>
  <tr>
    <td><%= link_to coding_region.names.join(', '), :action => :show, :id => coding_region %></td>
    <td><%= coding_region.annotation.annotation %></td>
    <td><%= coding_region.orthomcl_genes.pick(:orthomcl_name).join(', ') %></td>
  </tr>
<% end %>
</table>
