<h1>Coding Region Search</h1>

<% if flash[:error] %><div class="error"><%= flash[:notice] %></div><% end %>


<% @coding_region = CodingRegion.new %>
<% form_for :coding_region, @coding_region, :url => {:action => :find} do |f| %>
    <%= f.label 'Search Term' %>
    <%= f.text_field :string_id %>
    <%= submit_tag 'Search' %>
  <% end %>

