<h1>Editing taxon</h1>

<%= error_messages_for :taxon %>

<% form_for(@taxon) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @taxon %> |
<%= link_to 'Back', taxons_path %>
