<h1>Editing go_list_entry</h1>

<%= error_messages_for :go_list_entry %>

<% form_for(@go_list_entry) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @go_list_entry %> |
<%= link_to 'Back', go_list_entries_path %>
