<h1>New go_list_entry</h1>

<%= error_messages_for :go_list_entry %>

<% form_for(@go_list_entry) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', go_list_entries_path %>
