log

*~
nbproject
doc/*
vendor/rails
db.data*
.RData
.Rhistory
my_input_output_files_not_part_of_rails_appln
vendor/plugins/ben_bioinformatics/**
error.log
public/apiloc
public/index.html
tmp
MyRakefile
public/apiloc.html
public/apiloc/
public/images/model_apicomplexan.tif

