<h1>Listing cds</h1>

<table>
  <tr>
  </tr>

<% for cds in @cds %>
  <tr>
    <td><%= link_to 'Show', cds %></td>
    <td><%= link_to 'Edit', edit_cds_path(cds) %></td>
    <td><%= link_to 'Destroy', cds, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cds', new_cds_path %>
