<p>
  <b>Drosophila allele gene:</b>
  <%=h @drosophila_allele_phenotype.drosophila_allele_gene_id %>
</p>

<p>
  <b>Phenotype:</b>
  <%=h @drosophila_allele_phenotype.phenotype %>
</p>


<%= link_to 'Edit', edit_drosophila_allele_phenotype_path(@drosophila_allele_phenotype) %> |
<%= link_to 'Back', drosophila_allele_phenotypes_path %>
