<h1>Editing go_alternate</h1>

<%= error_messages_for :go_alternate %>

<% form_for(@go_alternate) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @go_alternate %> |
<%= link_to 'Back', go_alternates_path %>
