<h1>Editing species</h1>

<%= error_messages_for :species %>

<% form_for(@species) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @species %> |
<%= link_to 'Back', species_path %>
