/****** FLASH NOTCES **********/
div.errormsg
{ 
  color: red;
}
div.notice
{ 
  color: green;
}
div.categorytrue {
  background-color: #eee;
  padding: 10px;
  /*font-size: 11px;*/
}
div.categoryfalse {
  /*background-color: #eee;*/
  padding: 10px;
  /*font-size: 11px;*/
}
