<p>
  <b>Orthomcl name:</b>
  <%=h @orthomcl_gene.orthomcl_name %>
</p>

<p>
  <b>Orthomcl group:</b>
  <%=h @orthomcl_gene.orthomcl_group_id %>
</p>


<%= link_to 'Edit', edit_orthomcl_gene_path(@orthomcl_gene) %> |
<%= link_to 'Back', orthomcl_genes_path %>
