<h1>Editing clusterset</h1>

<%= error_messages_for :clusterset %>

<% form_for(@clusterset) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @clusterset %> |
<%= link_to 'Back', clustersets_path %>
