<p>
  <b>Allele:</b>
  <%=h @drosophila_allele_gene.allele %>
</p>

<p>
  <b>Gene:</b>
  <%=h @drosophila_allele_gene.gene_id %>
</p>


<%= link_to 'Edit', edit_drosophila_allele_gene_path(@drosophila_allele_gene) %> |
<%= link_to 'Back', drosophila_allele_genes_path %>
