<h1>Editing signal_p</h1>

<%= error_messages_for :signal_p %>

<% form_for(@signal_p) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @signal_p %> |
<%= link_to 'Back', signal_ps_path %>
