<h1>Listing signal_ps</h1>

<table>
  <tr>
  </tr>

<% for signal_p in @signal_ps %>
  <tr>
    <td><%= link_to 'Show', signal_p %></td>
    <td><%= link_to 'Edit', edit_signal_p_path(signal_p) %></td>
    <td><%= link_to 'Destroy', signal_p, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New signal_p', new_signal_p_path %>
