<h1>New generic_go_map</h1>

<%= error_messages_for :generic_go_map %>

<% form_for(@generic_go_map) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', generic_go_maps_path %>
