<h1>Listing go_lists</h1>

<table>
  <tr>
  </tr>

<% for go_list in @go_lists %>
  <tr>
    <td><%= link_to 'Show', go_list %></td>
    <td><%= link_to 'Edit', edit_go_list_path(go_list) %></td>
    <td><%= link_to 'Destroy', go_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New go_list', new_go_list_path %>
