<h1>Editing go_map</h1>

<%= error_messages_for :go_map %>

<% form_for(@go_map) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @go_map %> |
<%= link_to 'Back', go_maps_path %>
