<h1>Listing go_maps</h1>

<table>
  <tr>
  </tr>

<% for go_map in @go_maps %>
  <tr>
    <td><%= link_to 'Show', go_map %></td>
    <td><%= link_to 'Edit', edit_go_map_path(go_map) %></td>
    <td><%= link_to 'Destroy', go_map, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New go_map', new_go_map_path %>
