<li>
  <%= link_to 'TargetP', 'http://www.cbs.dtu.dk/services/TargetP/' %>, prediction of signal peptides, as well as chloroplast and mitochondrial transit peptides
</li>
<li>
  <%= link_to 'OrthoMCL', 'http://orthomcl.org' %>, automatic clustering of orthologous groups of proteins
</li>
