<% if flash[:error] %><div class="error"><%= flash[:notice] %></div><% end %>
  
<h3>Retrieve multiple genes</h3>
<p>Input multiple PlasmoDB IDs separated by commas or newlines, and I'll see if I know anything about the proteins.</p>
<% form_tag 'annotate'  do -%>
  <%= text_area_tag "ids", nil, :size => '40x10' %><br />
<%= submit_tag 'Retrieve' %>
  <% end -%>

