<h2>Localisations</h2>

Localisations in ApiLoc are divided into larger, 'umbrella' classes and more specific localisations.

<ul>
  <% TopLevelLocalisation.positive.all(
    :order => 'name',
    :joins => :apiloc_localisation_top_level_localisations,
    :select => 'distinct(top_level_localisations.*)'
  ).each do |top| %>
    <li><%= link_to top.name, :action => :localisation, :id => top.name %></li>
    <ul>
      <% top.apiloc_localisations.positive.all(:select => 'distinct(localisations.name)').each do |low| %>
        <li><%=  link_to low.name, :action => :specific_localisation, :id => low.name %></li>
      <% end %>
    </ul>
  <% end %>
</ul>