A history of ApiLoc..
<h3>Next</h3>

<h3>Data Updates</h3>
<ul>
	<li>Updated umbrella localisations of some previously "other" localisations</li>
</ul>
<h3>Total Data</h3>
todo
<ul>Updated Mappings 
<h3>Website Updates</h3>
<ul>
	<li>Versions page for historical reasons</li>
	<li>Links to FullText linkouts using Entrez EUtils</li>
</ul>


<h2>23 September, 2010</h2>
<h3>Total Data</h3>
<%= link_to 'download', 'apiloc20100923.xls' %>
<table>
<tr><th>Species</th><th>Localised genes</th><th>Publications curated</th></tr>
<tr><td>Babesia bigemina</td><td>1</td><td>1</td></tr>
<tr><td>Babesia divergens</td><td>1</td><td>1</td></tr>
<tr><td>Babesia equi</td><td>2</td><td>2</td></tr>
<tr><td>Babesia gibsoni</td><td>6</td><td>4</td></tr>
<tr><td>Cryptosporidium hominis</td><td>0</td><td>0</td></tr>
<tr><td>Cryptosporidium parvum</td><td>21</td><td>26</td></tr>
<tr><td>Eimeria ascervulina</td><td>1</td><td>1</td></tr>
<tr><td>Eimeria maxima</td><td>2</td><td>2</td></tr>
<tr><td>Eimeria tenella</td><td>16</td><td>13</td></tr>
<tr><td>Neospora caninum</td><td>14</td><td>16</td></tr>
<tr><td>Plasmodium berghei</td><td>58</td><td>61</td></tr>
<tr><td>Plasmodium chabaudi</td><td>4</td><td>5</td></tr>
<tr><td>Plasmodium cynomolgi</td><td>1</td><td>1</td></tr>
<tr><td>Plasmodium falciparum</td><td>424</td><td>367</td></tr>
<tr><td>Plasmodium gallinaceum</td><td>6</td><td>7</td></tr>
<tr><td>Plasmodium malariae</td><td>1</td><td>1</td></tr>
<tr><td>Plasmodium vivax</td><td>12</td><td>10</td></tr>
<tr><td>Plasmodium yoelii</td><td>27</td><td>24</td></tr>
<tr><td>Sarcocystis muris</td><td>3</td><td>2</td></tr>
<tr><td>Sarcocystis neurona</td><td>2</td><td>2</td></tr>
<tr><td>Theileria annulata</td><td>11</td><td>9</td></tr>
<tr><td>Theileria lestoquardi</td><td>1</td><td>1</td></tr>
<tr><td>Theileria parva</td><td>3</td><td>2</td></tr>
<tr><td>Toxoplasma gondii</td><td>272</td><td>196</td></tr>
<tr><td><b>Total</b></b></td><td><b>889</b></td><td><b>754</b></td></tr>
</table>
<h3>Website Updates</h3>
Among other things, 
<ul>
	<li>Curation detail included on gene pages, and not just publication pages</li>
	<li>Fixed issue where gene pages for genes without OrthoMCL groups gave errors</li>
</ul>