A history of ApiLoc..
<h2>May 28, 2011 (version 3)</h2>

<h3>Data Updates</h3>
<ul>
	<li>Updated umbrella localisations of some previously "other" localisations</li>
</ul>
<h3>Total Data</h3>
todo

<h3>Website Updates</h3>
Among other things,
<ul>
	<li>Versions page for historical reasons</li>
	<li>Links to FullText linkouts using Entrez EUtils</li>
</ul>


<h2>23 September, 2010 (version 2)</h2>
<h3>Total Data</h3>
<%= link_to 'download', 'apiloc20100923.xls' %>
<!-- this table is generated using BScript#apiloc_html_stats -->
<table>
<tr><th>Species</th><th>Localised genes</th><th>Publications curated</th></tr>
<tr><td><i>Babesia bigemina</i></td><td>1</td><td>1</td></tr>
<tr><td><i>Babesia bovis</i></td><td>12</td><td>9</td></tr>
<tr><td><i>Babesia divergens</i></td><td>1</td><td>1</td></tr>
<tr><td><i>Babesia equi</i></td><td>2</td><td>2</td></tr>
<tr><td><i>Babesia gibsoni</i></td><td>6</td><td>4</td></tr>
<tr><td><i>Cryptosporidium hominis</i></td><td>0</td><td>0</td></tr>
<tr><td><i>Cryptosporidium parvum</i></td><td>21</td><td>26</td></tr>
<tr><td><i>Eimeria ascervulina</i></td><td>1</td><td>1</td></tr>
<tr><td><i>Eimeria maxima</i></td><td>2</td><td>2</td></tr>
<tr><td><i>Eimeria tenella</i></td><td>16</td><td>13</td></tr>
<tr><td><i>Neospora caninum</i></td><td>14</td><td>16</td></tr>
<tr><td><i>Plasmodium berghei</i></td><td>58</td><td>61</td></tr>
<tr><td><i>Plasmodium chabaudi</i></td><td>4</td><td>5</td></tr>
<tr><td><i>Plasmodium cynomolgi</i></td><td>1</td><td>1</td></tr>
<tr><td><i>Plasmodium falciparum</i></td><td>424</td><td>367</td></tr>
<tr><td><i>Plasmodium gallinaceum</i></td><td>6</td><td>7</td></tr>
<tr><td><i>Plasmodium malariae</i></td><td>1</td><td>1</td></tr>
<tr><td><i>Plasmodium vivax</i></td><td>12</td><td>10</td></tr>
<tr><td><i>Plasmodium yoelii</i></td><td>27</td><td>24</td></tr>
<tr><td><i>Sarcocystis muris</i></td><td>3</td><td>2</td></tr>
<tr><td><i>Sarcocystis neurona</i></td><td>2</td><td>2</td></tr>
<tr><td><i>Theileria annulata</i></td><td>11</td><td>9</td></tr>
<tr><td><i>Theileria lestoquardi</i></td><td>1</td><td>1</td></tr>
<tr><td><i>Theileria parva</i></td><td>3</td><td>2</td></tr>
<tr><td><i>Toxoplasma gondii</i></td><td>272</td><td>196</td></tr>
<tr><td><b>Total</b></b></td><td><b>901</b></td><td><b>763</b></td></tr>
</table>
<h3>Website Updates</h3>
Among other things, 
<ul>
	<li>Curation detail included on gene pages, and not just publication pages</li>
	<li>Fixed issue where gene pages for genes without OrthoMCL groups gave errors</li>
</ul>