<h1>New go_map_entry</h1>

<%= error_messages_for :go_map_entry %>

<% form_for(@go_map_entry) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', go_map_entries_path %>
