<h1>New probe_map</h1>

<%= error_messages_for :probe_map %>

<% form_for(@probe_map) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', probe_maps_path %>
