<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>ApiLoc</title>
    <style type="text/css">
      body { background-color: #fff; color: #333; }

      body, p, ol, ul, td {
        font-family: verdana, arial, helvetica, sans-serif;
        font-size:   13px;
        line-height: 18px;
      }

      pre {
        background-color: #eee;
        padding: 10px;
        font-size: 11px;
      }
      div.categorytrue {
        background-color: #eee;
        padding: 10px;
      }
      div.categoryfalse {
        background-color: #fff;
        padding: 10px;
      }
	  div.categorybig {
        background-color: #c7c7c7;
        padding: 10px;
	  }

      a { color: #000; }
      a:visited { color: #666; }
      a:hover { color: #fff; background-color:#000; }

      div.error {color: red;}

      .dsq-dc-logo { display: none; }
    </style>
  </head>

  <body>

    <table>
      <tr><td><div class=error><%= flash[:error] %></div></td></tr>
      <tr><td>
          <h1><%= link_to 'ApiLoc', :action => :index %> - A Database of Protein Sub-Cellular Localisation in Apicomplexa</h1>
        </td></tr>
<tr><td align=right>version 2 (23 September, 2010)</td></tr>

      <tr><td><%= yield %></td></tr>
    </table>

  </body>
</html>

